<app-navbar></app-navbar>

<div class="button-container">
    <button (click)="moveLeft()"><</button>
    <div class="flight-container" #flightContainer>
        <app-promotion-display (click) = "toReserve(flight.calendarioId, flight.origen, flight.destino, flight.precio)" *ngFor="let flight of flights" [origin]="flight.origen" [destination]="flight.destino" [price]="flight.precio" [discount]="flight.descuento"></app-promotion-display>
    </div>
    <button (click)="moveRight()">></button>
</div>

<app-footer></app-footer>