<form (ngSubmit)="onSubmit()">
    <h2 class="logo">Ingresa tus datos</h2>
    <div>
        <label for="id">Cédula:</label>
        <div>
            <input type="text" id="id" name="id" required [(ngModel)] = "client.cedula" [(ngModel)] = "students.cedula" >
        </div>
    </div>
    <div>
        <label for="name">Nombre:</label>
        <div>
            <input type="text" id="name" name="name" required [(ngModel)] = "client.nombre">
        </div>
    </div>
    <div>
        <label for="lastname1">Primer Apellido:</label>
        <div>
            <input type="text" id="lastname1" name="lastname1" [(ngModel)] = "client.apellido_1">
        </div>
    </div>
    <div>
        <label for="lastname2">Segundo Apellido:</label>
        <div>
            <input type="text" id="lastname2" name="lastname2" [(ngModel)] = "client.apellido_2">
        </div>
    </div>
    <div>
        <label for="phone">Teléfono:</label>
        <div>
            <input type="text" id="phone" name="phone" [(ngModel)] = "client.telefono">
        </div>
    </div>
    <div>
        <label for="email">Email:</label>
        <div>
            <input type="email" id="email" name="email" [(ngModel)] = "client.correo">
        </div>
    </div>
    <div>
        <label>¿Eres estudiante?</label>
        <div class="radio-buttons">
            <label>
                <input type="radio" name="student" value="yes" [(ngModel)] = "student">
                <span>Sí</span>
            </label>
            <label>
                <input type="radio" name="student" value="no" [(ngModel)] = "student" >
                <span>No</span>
            </label>
        </div>
    </div>
    <div *ngIf="student === 'yes'">
        <div>
            <label for="university">Universidad:</label>
            <div>
                <input type="text" id="university" name="university" [(ngModel)] = "students.universidad">
            </div>
        </div>
        <div>
            <label for="uniID">Carnet:</label>
            <div>
                <input type="number" id="suniID" name="uniID" inputmode="numeric" [(ngModel)] = "students.carnet">
            </div>
        </div>
    </div>
    <button class="button" type="submit" >Registrar</button>
</form>