<form (ngSubmit)="onSubmit()">
    <h2 class="logo">Ingrese los datos de la Promoción</h2>
    <div>
        <label for="idPromotion">Número de Promoción:</label>
        <input type="number" id="idPromotion" name="idPromotion" [(ngModel)] = "sale.id_promo">
    </div>
    <div>
        <label for="discount">Descuento:</label>
        <input type="number" id="discount" name="discount" [(ngModel)] = "sale.descuento">
    </div>
    <div>
        <label for="beginDate">Fecha Inicio:</label>
        <input type="date" id="beginDate" name="beginDate" [(ngModel)] = "sale.fecha_inicio">
    </div>
    <div>
        <label for="endDate">Fecha Final:</label>
        <input type="date" id="endDate" name="endDate" [(ngModel)] = "sale.fecha_fin">
    </div>
    <div>
        <label for="origin">Origen:</label>
        <input type="text" id="origin" name="origin" [(ngModel)] = "sale.origen">
    </div>
    <div>
        <label for="destiny">Destino:</label>
        <input type="text" id="destiny" name="destiny" [(ngModel)] = "sale.destino">
    </div>
    <div>
        <label for="calendar">Nombre Calendario:</label>
        <input type="text" id="calendar" name="calendar" [(ngModel)] = "sale.aplicado_calendario">
    </div>
    <button type="submit">Crear</button>
</form>