<app-navbar></app-navbar>

<div class="img_container">
    <img class="img" src="../../assets/Welcome.png" alt="Welcome">
</div>

<div class="main-container">
    <div class="child-container" [routerLink]="['/flights']">
        <h2>¿Experiencias Inolvidables?</h2>
        <p>Visita nuestra sección de Viajes y dejanos ayudarte a realizar tu viaje soñado </p>
    </div>
    <div class="child-container" [routerLink]="['/promotions']">
        <h2>¿Bajo Presupuesto?</h2>
        <p>No hay problema, visita nuestra sección de Promociones y dejanos buscar algo que se ajuste a tí</p>
    </div>
</div>

<app-footer></app-footer>