<div class="selection-container">
    <h2 class="logo">Seleccione la identificación del cliente y su vuelo</h2>

    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="pasajeID">Numero de Pasaje:</label>
            <input type="number" id="pasajeID" name="pasajeID" >
        </div>
        <div class="form-group">
            <label for="Puerta">Puerta para Abordar:</label>
            <input type="string" id="Puerta" name="Puerta" >
        </div>
        <div class="form-group">
            <label for="clientID">Cédula cliente:</label>
            <input type="number" id="clientID" name="clientID" >
        </div>
        <div class="form-group">
            <label for="calendarID">Vuelo cliente:</label>
            <input type="string" id="calendarID" name="calendarID" >
        </div>
        <button type="submit" >Seleccionar Asiento</button>
    </form>
</div>
