<div class="container">

    <button class="button" [routerLink]="['/client-view']">Vista Cliente</button>

    <button class="button" [routerLink]="['/check-in']">Chequeo Pasajeros</button>

    <button class="button" [routerLink]="['/baggage-assignment']">Asignar Maletas</button>

    <button class="button" [routerLink]="['/promotions-managment']">Gestión Promociones</button>

    <button class="button" [routerLink]="['/flights-managment']">Gestionar Vuelos</button>

    <button class="button" [routerLink]="['/flight-opening']">Apertura Vuelo</button>

    <button class="button" [routerLink]="['/flight-closure']">Cierre Vuelo</button>

</div>
