<div class="selection-container">
    <h2 class="logo">Seleccione la identificación del cliente y su vuelo</h2>

    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="clientID">Cédula cliente:</label>
            <input type="number" id="clientID" name="clientID" >
        </div>
        <div class="form-group">
            <label for="baggageID">Número de Maleta:</label>
            <input type="number" id="baggageID" name="baggageID" >
        </div>

        <div class="form-group">
            <label for="color1">Color1:</label>
            <input class="color" type="color" id="color1" name="color1" >
        </div>

        <button type="submit" >Abrir</button>
    </form>
</div>
